@tailwind base;
@tailwind components;
@tailwind utilities;

.signInButton,
.signInButton button, 
.logout button {
  width: 100%;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body ul {
  list-style: disc;
}
